@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --first-color: rgb(189, 133, 199);
  --second-color: rgb(204, 89, 54);
}

:root {
  --body-font: "Aref Ruqaa", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 770px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1.3rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* BASE */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: rgb(243, 229, 245);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Clases css */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 0.2rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* layout */

.bd-grid {
  max-width: 1025px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 1rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 1px 4px rgba(156, 125, 151, 0.15);
  background-color: rgb(243, 229, 245);
}

/* NAV */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  background-color: rgb(243, 229, 245);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
  color: rosybrown;
}

.nav__link:hover::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* active menu */

.active::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/* show menu */

.show {
  right: 0;
}

/* home */

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
  margin-top: 70px;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.social__home-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
  color: var(--second-color);
}

.social__home-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 175px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.65rem 2rem;
  font-weight: var(--font-semi);
  border-radius: 0.7rem;
}

.button:hover {
  background-color: rgb(255, 160, 122);
  box-shadow: 0 10px 36px rgba(231, 173, 173, 0.15);
}

/* about */

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img img {
  width: 200px;
  border-radius: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
  text-align: center;
}

.skills__text {
  margin-bottom: var(--mb-4);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.skills__container-icons {
  width: 100%;
  height: 100%;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem;
  margin-bottom: var(--mb-1);
  border-radius: 0.5rem 1rem;
  box-shadow: 0 4px 25px rgba(39, 8, 25, 0.699);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__img {
  border-radius: 0.5rem;
}

/* work */

.work {
  text-align: center;
}

.work__container {
  row-gap: 1rem;
}

.work__img {
  box-shadow: 0 5px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid rgb(250, 203, 203);
}

.work__img img {
  transition: 3s;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.work__img img:hover {
  transform: scale(2.2);
}

/* contacto */

.contact__container {
  width: 70%;
  margin-top: -30px;
}

.contact__input {
  width: 100%;
  font-size: small;
  font-weight: var(--normal-font-size);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid palevioletred;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: italic;
}

.contact__input::placeholder {
  font-style: italic;
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: small;
  cursor: pointer;
  margin-left: auto;
}

/* footer */

.footer {
  background-color: rgb(255, 160, 122);
  color: #fff;
  text-align: center;
  font-weight: var(--normal-font-size);
  margin-top: var(--mb-1);
}

.footer__title {
  font-size: 1rem;
}

.footer__p {
  font-size: 1rem;
}

/* media queries */

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 400px;
    bottom: 15%;
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .contact__form {
    width: 300px;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    right: 10%;
  }
}

.swal-overlay {
  background-color: rgba(251, 195, 252, 0.45);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 105px;
  border-color: #fff;
  background-color: #f09ee9;
  font-size: 10px;
  outline: none;
}

.swal-button:hover {
  background-color: #f18af5 !important;
  border: 0;
  outline: none;
}

@media screen and (max-width: 500px) {

  .home__data{
    margin-top: -5rem;
  }

  .home__social{
    margin-top: -5rem;
    display: inline;
  }
  .home__img{
    display: flex;
    width: 250px;
    margin-bottom: 50px;
  }
  .contact__container {
    margin: auto;
  }
} 

@media screen and (max-width: 360px) {

  .home__data{
    margin-top: -4rem;
  }

  .home__social{
    margin-top: -5rem;
    display: inline;
  }
  .home__img{
    width: 150px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .contact__container {
    margin: auto;
  }
} 




